#sa-survey-modal.sa-survey-modal {
    font-family: "Helvetica Neue", Helvetica-Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #FFF;

    top: auto;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;

    z-index: 100000;
    transition: bottom 0.3s ease;
    border-top: 3px solid #CCC;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    text-align: center;
    padding: 30px 10px 20px 10px;
}

#sa-survey-modal.sa-survey-modal.sa-bottom {

}

#sa-survey-close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 8px;

    border-radius: 10px;
    padding: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;

    border: 1px solid #AAA;
}

#sa-survey-close #sa-survey-x {
    width: 20px;
}

#sa-survey-close:hover #sa-survey-x {
    display: none;
}

#sa-survey-close #sa-survey-dismiss {
    display: none;
}

#sa-survey-close:hover #sa-survey-dismiss {
    display: initial;
}

.sa-survey-collapsed {
    display: none;
}

div.sa-nps-score {
    max-width: 800px;
    margin: 0 auto;
}

.sa-survey-question {
    margin-bottom: 10px;
}

.sa-nps-score #sa-survey-not-likely-label, .sa-nps-score #sa-survey-likely-label {
    width: 175px;
}

.sa-nps-score #sa-survey-not-likely-label {
    line-height: 35px;
    float: left;
}

.sa-nps-score #sa-survey-likely-label {
    line-height: 35px;
    float: right;
}

#sa-survey-feedback {
    margin-top: 10px;
}

@media (max-width: 800px) {
    #sa-survey-fullscore {
        max-width: 380px;
        margin: 0 auto;
    }

    .sa-nps-score {
        max-width: 100%;
        width: 100%;
    }

    .sa-nps-score #sa-survey-not-likely-label {
        line-height: 14px;
        width: auto;
        margin-left: 14px;
        font-size: 12px;
    }

    .sa-nps-score #sa-survey-likely-label {
        line-height: 14px;
        width: auto;
        margin-right: 14px;
        font-size: 12px;
    }

    #sa-survey-feedback {
        margin-top: 30px;
    }
}

ul#sa-nps-score {
    display: inline-block;
    font-size: 0;
    line-height: 36px;
    margin: 0 .25rem;
    padding: 0;
}

ul#sa-nps-score li {
    list-style-type: none;
    font-size: 12px;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.55);
    display: inline;
    margin-right: 3px;
    cursor: pointer;
}

ul#sa-nps-score li.sa-score-selected {
    background-color: #CCC;
}

#sa-survey-feedback textarea {
    font-size: 12px;
    line-height: 15px;

    margin: 0;
    display: inline-block;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 60%;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    padding: 8px;
    text-align: left;
    resize: none;
}

#sa-survey-feedback input[type="submit"] {
    font-size: 13px;
    line-height: 12px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    padding: 17px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    -webkit-appearance: none;
}

#sa-powered-by {
    clear: both;
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
}